.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.home .div {
  background-color: #ffffff;
  width: 1152px;
  height: 2000px;
  position: relative;
}
.home .header{
  position: absolute;
  width: 132px;
  height: 43px;
  top: 26px;
  left: 956px;
}
.home .one {
  position: absolute;
  width: 57px;
  top: 0;
  left: 0;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}
.home .two{
  position: absolute;
  width: 106px;
  top: 0;
  left: 26px;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}
.home .three {
  position: absolute;
  width: 71px;
  top: 0px;
  left:155px;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}
.info h1{
  position: absolute;
  width: 506px;
  top: 227px;
  left: 148px;
  font-family: "Heebo-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 44px;
  letter-spacing: 0;
  line-height: 60px;
}
.info p {
  width: 497px;
  top: 372px;
  left: 148px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.home .xd {
  position: absolute;
  width: 248px;
  height: 256px;
  top: 210px;
  left: 855px;
}
.image {
  top: 13px;
  left: 0;
  background-color: #edf7fa;
  border-radius: 121.5px;
  position: absolute;
  width: 243px;
  height: 243px;
}
.home .img {
  top: 0;
  left: 5px;
  object-fit: cover;
  position: absolute;
  width: 243px;
  height: 243px;
  border-radius: 50%;
}
.info button{
  position: absolute;
  width: 208px;
  height: 47px;
  top: 477px;
  left: 148px;
  background-color: var(--primary);
  background-color: #FF6464;
  color: #ffffff;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  font-size: 20px;
  border-radius: 0;

}
.center {
  position: absolute;
  width: 100%;
  height: 396px;
  top: 595px;
  left: 0;
  background-color: #edf7fa;
}
.center .firstpart {
  position: absolute;
  width: 418px;
  height: 295px;
  top: 69px;
  left: 148px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #bbe1fa40;
}
.center .text-1 {
  position: absolute;
  width: 374px;
  top: 23px;
  left: 23px;
  font-family: "Heebo-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}
.center .inner-part {
  position: absolute;
  width: 395px;
  height: 34px;
  top: 125px;
  left: 23px;
}
.center .text-2 {
  position: absolute;
  width: 239px;
  top: 0;
  left: 156px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.center .vector {
  position: absolute;
  width: 2px;
  height:21px;
  top: 0px;
  left: 130px;
}
.center .data-1 {
  width: 374px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}
.center .big-text{
  position: absolute;
  width: 368px;
  top: 170px;
  left: 23px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
.center .secondpart {
  position: absolute;
  width: 418px;
  height: 295px;
  top: 69px;
  left: 586px;
  background-color: #ffffff;
  border-radius: 4px;
}
.center .post-action {
  position: absolute;
  height: 60px;
  top: 6px;
  left: 148px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}
.center .post-action_a {
  position: absolute;
  width: 208px;
  top: 26px;
  right: 148px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--secondry);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal; 
}
.post>span>a {
  text-decoration: none;
  color:8#00A8CC;
}
.home .text-wrapper-11 {
  position: absolute;
  top: 405px;
  left: 148px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}
.home .footer {
  position: absolute;
  width: 1152px;
  height: 182px;
  top: 1159px;
  left: 0;
  background-color: #ffffff;
}
.home .fb {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 459px;
}
.home .linkedin {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 661px;
}
.home .group {
  position: absolute;
  width: 37px;
  height: 30px;
  top: 51px;
  left: 589px;
}
.home .insta {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 524px;
}
.home .text-footer  {
  position: absolute;
  top: 106px;
  left: 464px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.home .text-3 {
  position: absolute;
  top: 502px;
  left: 410px;
  font-family: "Heebo-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}
.home .work-1{
  position: absolute;
  width: 462px;
  height: 102px;
  top: 531px;
  left: 410px;
}
.home .inner-1{
  position: absolute;
  width: 450px;
  height: 102px;
  top: 0;
  left: 0;
}
.home .text-4 {
  position: absolute;
  top: 191px;
  left: 0;
  font-family: "Heebo-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}
.home .rectangle {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 32px;
  left: 0;
  background-color: #142850;
  border-radius: 16px; 
 
}
.home .text-5 {
  top: 15px;
  position: absolute;
  left: 10px;
  font-family: "Heebo-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
  
}
.home .text-6 {
  position: absolute;
  width: 374px;
  top:30px;
  left: 88px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--light, #8695A4);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.home .work-2 {
  position: absolute;
  width: 462px;
  height: 99px;
  top: 721px;
  left: 410px;
}
.home .inner-2{
  position: absolute;
  width: 450px;
  height: 99px;
  top: 0;
  left: 0;
}
.home .rectangle-2 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 63px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}
.home .text-7 {
  top:45px;
  position: absolute;
  left: 10px;
  font-family: "Heebo-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}
.home .text-8 {
  position: absolute;
  width: 374px;
  top: 60px;
  left: 88px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--light, #8695A4);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.home .text-9 {
  position: absolute;
  width: 374px;
  top: 970px;
  left: 498px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--light, #8695A4);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.home .text-10 {
  width: 594px;
  top: 608px;
  left: 410px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.home .text-11{
  width: 594px;
  top: 808px;
  left: 410px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.home .text-12 {
  width: 507px;
  top: 1000px;
  left: 413px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.home .work-3{
  position: absolute;
  width: 150px;
  height: 60px;
  top: 1122px;
  left: 410px;
}
.home .rectangle-3 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: -150px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}
.home .text-13 {
  top: -168px;
  position: absolute;
  left: 10px;
  font-family: "Heebo-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}
.home .vector-3 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1282px;
  left: 146px;
  object-fit: cover;
}
.home .vector-4 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1528px;
  left: 146px;
  object-fit: cover;
}
.home .vector-5 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1776px;
  left: 146px;
  object-fit: cover;
}
.home .first-1 {
  position: absolute;
  width: 246px;
  height: 180px;
  top: -20px;
  left: -266px;
  object-fit: cover;
}
.home .sec {
  position: absolute;
  width: 246px;
  height: 180px;
  top: -407px;
  left: -266px;
  object-fit: cover;
}
.home .third {
  position: absolute;
  width: 246px;
  height: 184px;
  top: -200px;
  left: -266px;
  object-fit: cover;
}
 
@media (max-width: 1250px)
{

}