
/* html
{
    font-size:10px;
} */
/* body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
  } */
.youtube_logo
{
    height: 20px;
}
header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 15px;
}
.left
{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.left img.youtube_logo 
{
    
    padding-left: 15px;
}
.center
{
    display: flex;
    align-items: center;
    margin-left: -8%;
}
.center form
{
    display: flex;
    height: 40px;
    width: 500px;
}
.center input
{
    width: 100%;
    border-radius: 20px 0 0 20px;
    padding: 15px;
    border-right: none;

}
.center button
{
    width: 65px;
    border-radius: 0 20px 20px 0;
    padding-top: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
}
.center .micro
{
    cursor: pointer;
    margin-left: 12px;
}
.right a
{
    padding-right: 15px;
    
}
.container_for_content
{
    height: calc(100vh - 55px);
    display:flex;
    background-color: #f9f9f9;
}
aside{
    height: 100%;
    width: 300px;
    background-color: white;
    overflow-y: auto;
}
nav
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:15px 0;
    padding-right: 15px;
    
}
.nav-link
{
    display: flex;
    align-items: center;
    padding:10 15px;
    text-decoration: none;
    color:black;
    /* background-color: #e5e5e5; */
    margin-right: 10px;
    height:40px;

}
.nav-link:hover{
    background-color: rgba(0,0,0,0.09);
}
/* .container_for_videos .nav-link:hover  {
    background-color: transparent; 

.nav-link span
{
    margin-left: 10px; 
    font-size: 1.4rem;
    line-height: 2em;
    font-weight: 400;
    color:#030303
}
.active
{
    background-color: #e5e5e5;
    
}
#active-span{
    font-weight: 500;
}


hr{
    height: 1px;
    background-color: #e5e5e5;
    border:none;
    margin: 10px;
}
nav p {
    font-size: 1.4rem;
    font-weight: bold; 
    color: #000;
    padding: 5px 10px;
}
.ava_k{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
main{
    width: 100%;
    height: 100%;
    /* padding: 35px 15px; */
    border: 1px solid #ddd;
    overflow-y: auto;
} 
 .container_for_videos
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}   
.video–æ {
    
    width: 330px;
    margin-bottom: 40px;
    cursor: pointer;
}
.video{
    width:100%;
    height: 190px;
    margin-top:120px;
}
.video .video-miranda{
    height: 100%;
    width: 100%;
    margin-right: 12px;
    
}
.infomation{
    display: flex;
}
.avaaaa .ava_1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 285px;

    
}
.titlee{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 50px;
    
    
   
    
}    
.titlee a{
    text-decoration: none;
    margin-left: 10px;
    
    
}

.video-title{
    color:rgb(3,3,3);
    font-size: 1.5rem;
    max-width: 270px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom:0 ;
    overflow: hidden;
    display: -webkit-box;
    
}
.video-creator .video-views{
    color: rgb(96,96,96);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.video-creator:hover{
    color:black;
}
