body {
    background-color: #f0f0f0; 
    margin: 0;
    font-family: Arial, sans-serif; 
}

.header {
    background-color: #f0f0f0; 
    color: #333;
    text-align: center;
    padding: 10px 0; 
}


.navigation {
    background-color: #cfd8dc; 
    overflow: hidden;
    text-align: center; 
}

.navigation a {
    display: inline-block; 
    color: #333;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
}


.navigation a:hover {
    background-color: #5da2c4;
}
table {
    margin: 0 auto; 
    width: 80%;
    border-collapse: collapse;
    
}


th {
    background-color: #99c7db; 
    color: white; 
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    width: 18%;
}
td:first-child {
    width: 5%; 
}
h2{
    text-align: center;
}
#uniqueBody{
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.registration-form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.registration-form:hover {
    background-color: #e0e0e0;
    
}

.form-field {
    margin-top: 20px;
    width: 100%;
}

.form-field:last-child {
    margin-bottom: 20px;
}

.form-field > label {
    font-weight: bold;
    display: block;
}

.form-field > input, .form-field > select {
    padding: 12px;
    width: 100%;
    border: 2px solid #33cc33; 
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.form-field > input:focus, .form-field > select:focus {
    border-color: #009900; 
}

.form-field > select {
    padding: 10px;
}

.push-down {
    margin-top: auto;
}

input[type="submit"] {
    border: none;
    background-color: #009900; 
    padding: 12px 24px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #006600; 
    transform: translateY(10px); 
    box-shadow: 0 4px 6px rgba(0, 102, 0, 0.2);
}
